* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.all {
  width: 100%;
  margin: 0 auto;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  background-image: url(../image/back.png);
  background-position: center center;
  background-size: cover;
  position: relative;
}
.all .line-fixed {
  width: 25%;
  position: fixed;
  bottom: 15%;
  right: 1%;
  z-index: 30;
}
.all .line-fixed img {
  width: 100%;
}
.all .all-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 30;
}
.all .all-screen .pop {
  width: 100%;
  position: relative;
}
.all .all-screen .pop img {
  width: 100%;
}
.all .all-screen .pop .x {
  position: absolute;
  width: 10%;
  right: 10%;
  top: 0;
}
.all .poker1 {
  width: 75px;
  position: absolute;
  animation: poker1 3s infinite linear;
}
@keyframes poker1 {
  0% {
    top: 0;
  }
  10% {
    top: 5px;
  }
  40% {
    top: 45px;
  }
  50% {
    top: 50px;
  }
  60% {
    top: 45px;
  }
  90% {
    top: 5px;
  }
  100% {
    top: 0;
  }
}
.all .poker2 {
  width: 75px;
  position: absolute;
  animation: poker2 3s infinite;
}
@keyframes poker2 {
  0% {
    top: 350px;
    right: 30px;
  }
  50% {
    top: 300px;
    right: 10px;
  }
  100% {
    top: 350px;
    right: 30px;
  }
}
.all .header .img1 {
  display: block;
  margin: 0 auto;
  width: 50%;
}
.all .header .img2 {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.all .sc {
  margin-top: 50px;
  position: relative;
}
.all .part1 {
  width: 100%;
}
.all .part1 .img3 {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.all .part2 {
  width: 100%;
  z-index: 1;
}
.all .part2 button {
  display: block;
  width: 100px;
  height: 50px;
  margin: 0 auto;
}
.all .part2 img {
  display: block;
  margin: 0 auto;
}
.all .part2 .text {
  width: 80%;
  margin-top: 10px;
}
.all .part3 {
  width: 100%;
  margin-bottom: 30px;
}
.all .part3 img {
  display: block;
  margin: 0 auto;
  width: 40%;
}
.all .part3 .logo {
  width: 90%;
}
.all footer {
  z-index: 1;
  margin-bottom: 30px;
}
.all footer .img4 {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.swiper-container {
  /* 輪播長和寬 */
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -5px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: transparent;
}
.swiper-slide img {
  width: 80%;
}
.swiper-container-horizontal .swiper-pagination-bullets {
  bottom: -2px;
}
