* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.all {
  // width: 80%;
  // 手機板寬度
  width: 100%;
  margin: 0 auto;
  background-color: #aaa;
  // height: 1000px;
  display: flex;
  flex-direction: column;
  background-image: url(../image/test-07.png);
  background-position: center center;
  // background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  .poker1 {
    width: 75px;
    position: absolute;
    animation: poker1 3s infinite linear;
  }

  @keyframes poker1 {
    0% {
      top: 0;
    }

    10% {
      top: 5px;
    }

    40% {
      top: 45px;
    }

    50% {
      top: 50px;
    }

    60% {
      top: 45px;
    }

    90% {
      top: 5px;
    }

    100% {
      top: 0;
    }
  }

  .poker2 {
    width: 75px;
    position: absolute;
    animation: poker2 3s infinite;
  }

  @keyframes poker2 {
    0% {
      top: 350px;
      right: 30px;
    }

    // 10% {
    //     top: 5px;
    //     right: 15px;
    // }

    // 40% {
    //     top: 45px;
    //     right: 25px;
    // }

    50% {
      top: 300px;
      right: 10px;
    }

    // 60% {
    //     top: 45px;
    //     right: 25px;
    // }

    // 90% {
    //     top: 5px;
    //     right: 15px;
    // }

    100% {
      top: 350px;
      right: 30px;
    }
  }

  #po1 {
    position: fixed;
    right: 20px;
    top: 100px;
    // z-index: -1;
  }

  .header {
    .img1 {
      display: block;
      margin: 0 auto;
      width: 50%;
    }

    .img2 {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  .sc {
    margin-top: 50px;
    position: relative;

    #po2 {
      position: absolute;
      bottom: 10%;
      left: 50%;
      left: 7.5%;
    }

    .ca {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .part1 {
    width: 100%;
    // height: 500px;
    // background-color: #777;

    .img3 {
      display: block;
      margin: 0 auto;
      width: 80%;
    }
  }

  .part2 {
    width: 100%;
    // height: 500px;
    // background-color: #333;
    z-index: 1;

    button {
      display: block;
      width: 100px;
      height: 50px;
      margin: 0 auto;
    }

    img {
      display: block;
      margin: 20px auto;
    }
  }

  .part3 {
    width: 100%;
    // height: 500px;
    // background-color: #333;

    img {
      display: block;
      margin: 0 auto;
      width: 40%;
    }

    .logo {
      width: 90%;
    }
  }

  footer {
    z-index: 1;

    .img4 {
      display: block;
      margin: 0 auto;
      width: 80%;
    }
  }
}

.swiper-container {
  /* 輪播長和寬 */
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -5px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: transparent;

  img {
    //
    // height: 7.2rem;
    width: 80%;
  }
}

.swiper-container-horizontal .swiper-pagination-bullets {
  bottom: -2px;
}

// .breathe-div {
//     width: 200px;
//     height: 200px;
//     border: 1px solid #2b92d4;
//     border-radius: 50%;
//     text-align: center;
//     cursor: pointer;
//     // margin: 150px auto;
//     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
//     overflow: hidden;
//     animation-timing-function: ease-in-out;
//     animation-name: breathe;
//     animation-duration: 1500ms;
//     animation-iteration-count: infinite;
//     animation-direction: alternate;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// @keyframes breathe {
//     0% {
//         opacity: .4;
//         box-shadow: 0 1px 2px rgba(0, 147, 223, 0.4), 0 1px 1px rgba(0, 147, 223, 0.1) inset;
//     }

//     100% {
//         opacity: 1;
//         border: 1px solid rgba(59, 235, 235, 0.7);
//         box-shadow: 0 1px 30px #0093df, 0 1px 20px #0093df inset;
//     }
// }

// .breathes {
//     width: 30px;
//     width: 11px;
//     height: 30px;
//     height: 11px;
//     color: #FF9900;
//     border-radius: 50%;
//     animation: breathes 2s infinite linear;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// @keyframes breathes {
//     0% {
//         background-color: transparent;
//     }

//     50% {
//         background-color: #ff990050;
//         // box-shadow: 0 0 5px #FF9900, 0 0 25px #FF9900, 0 0 50px #FF9900, 0 0 250px #FF9900;
//         box-shadow: 0 0 20px #ff9900, 0 0 50px #FF9900bb, 0 0 75px #FF9900aa,;
//     }

//     100% {
//         background-color: transparent;
//     }
// }
